// primary colors
/* $main-color: #263f59;
$neutral-color: #eee;
$highlight-color: #f7c603;
$contrast-color: #0d850d; */

// extreme colors
/* $lightest-color: #fff;
$darkest-color: #000; */

// main color group
/* $main-group-lighter-10-color: #4d87c7;
$main-group-lighter-20-color: #0065a6; */